<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.onb.tr.user.mapper.ISysPremissionMapper">

    <select id="getByRoles" resultType="cn.onb.tr.entity.SysPermission">
        select p.* from
        sys_permission p
        inner join sys_role_permission rp on
        p.id = rp.permission_id
        <where>
            rp.role_id in
            <foreach collection="roleIds" item="roleId" open="("
                     separator="," close=")">
                #{roleId}
            </foreach>
        </where>
    </select>
</mapper>
